body{
    max-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(rgb(195, 189, 248), rgb(70, 11, 165));

}
.container-fluid{
    height: 96vh;
    width: 96vw;
    margin: 2vh 2vw;
}
.top{
    height: 6vh;
    margin: 0vh 12vw 1.5vh 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.passes{
    width: 25%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9dec9;
    border-radius: 5px;
}
.comparisons{
    width: 30%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    background-color: #f9dec9;
    border-radius: 5px;
}
.swaps{
    width: 30%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    background-color: #f9dec9;
    border-radius: 5px;
}
canvas{
    display: block;
    width: 84vw;
    height: 78vh;
    border: 1px solid black;
    margin: 0 6vw 1.5vh 6vw;            
    background-color: #f7eae0;
    border-radius: 5px;
}
.bottom{
    height: 9vh;
    margin: 0 12vw 2vh 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin: 1vh 2vw;
    height: 6vh;
    color: rgb(139, 0, 0);
    background-color: #f9dec9;
    font-size: x-large;
}
.btn:hover{
    color: black;
    background-color: rgb(5, 253, 5);
    font-style: oblique;
}
.bubble{
    margin-top: 5px;
}